name: Trigger auto deployment for wunu-reporting-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches:
      [ master ]
    paths:
    - '**'
    - '.github/workflows/wunu-reporting-api-AutoDeployTrigger-448a421f-2bc7-48a2-b42f-8c8658b85a3c.yml'

  # Allow manual trigger
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.WUNUREPORTINGAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.WUNUREPORTINGAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.WUNUREPORTINGAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: Reporting.API/Dockerfile
          _targetLabelKey_: _targetLabel_
          registryUrl: wunureporting.azurecr.io
          registryUsername: ${{ secrets.WUNUREPORTINGAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.WUNUREPORTINGAPI_REGISTRY_PASSWORD }}
          containerAppName: wunu-reporting-api
          resourceGroup: first
          imageToBuild: wunureporting.azurecr.io/wunu-reporting-api:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_
